.navMenu {
    border-radius: 50px 0 0 50px;
    background-color: var(--main-dark);
    color: var(--text-white);
    z-index: 1000;
}

.linkElement {
    background-color: red;
}

ul>a {
    background-color: var(--bg-main);
    border-radius: 25px 0 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul>a:nth-child(odd) {
    background-color: var(--bg-main-dark);
}