:root {
    --btn-primary-bg: #5d7456;
    --btn-primary-border: #576c51;
    --btn-primary-bg-hover: #556a4f;
    --btn-primary-border-hover: #4c5e46;

    --btn-active-bg: #72bc24;
    --btn-active-border: #65a81e;
    --btn-active-bg-hover: #65a620;
    --btn-active-border-hover: #5a961b;
    
    --btn-secondary-bg: #4b4335;
    --btn-secondary-border: #3d362b;
    --btn-secondary-bg-hover: #3d362a;
    --btn-secondary-border-hover: #2f2a21;

    --btn-back-bg: #696969; /* Gris dim */
    --btn-back-border: #505050; /* Gris foncé */
    --btn-back-bg-hover: #404040; /* Gris très foncé */
    --btn-back-border-hover: #303030; /* Gris presque noir */
}