.btn-primary {
    background-color: var(--btn-primary-bg) !important;
    color: var(--text-white);
    border-color: var(--bg-primary-border);
    border-radius: 2rem;
    padding: 6px;
}

.btn-primary:disabled{
    background-color: red !important;
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover) !important;
    border-color: var(--btn-primary-border-hover);
}

.btn-secondary {
    background-color: var(--btn-secondary-bg) !important;
    color: var(--text-white);
    border-color: var(--bg-secondary-border);
    border-radius: 2rem;
    padding: 6px;
}
.btn-secondary:hover {
    background-color: var(--btn-secondary-bg-hover) !important;
    border-color: var(--btn-secondary-border-hover);
}

.btn-active {
    background-color: var(--btn-active-bg) !important;
    color: var(--text-white);
    border-color: var(--btn-active-border);
    border-radius: 2rem;
    border-width: 1px;
    padding: 6px;
}
.btn-active:hover {
    background-color: var(--btn-active-bg-hover) !important;
    border-color: var(--btn-active-border-hover);
}