#btn_register_submit{
    background-color: var(--btn-secondary-bg);
    color: var(--text-white);
    border-color: var(--bg-secondary-border);
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 6px;

}
#btn_register_submit:hover {
    background-color: var(--btn-secondary-bg-hover);
    border-color: var(--btn-secondary-border-hover);
}

.sectionRegister{
    background-color: var(--main-dark);
    border-radius: 2rem;
}

.inputRegister{
    margin-bottom: 1rem;
    border-radius: 2rem;
    padding: 1rem;
}